<div class="w-full h-fit flex justify-between pl-8 pr-16 p-4 font-onest font-bold text-xl bg-gray-900 fixed text-white">
    <div class="text-2xl">
        Alexander Pham
    </div>

    <div class="hidden lg:flex">
        <div class="flex space-x-16 cursor-pointer">
            <div><button (click)="navService.navigateHome()">Home</button></div>
            <div><button (click)="navService.navigateAbout()">About</button></div>
            <div><button (click)="navService.navigateProjects()">Projects</button></div>
        </div>
    </div>

    <div class="flex lg:hidden">
        <div class="flex space-x-16 cursor-pointer">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon> 
            </button>
            <mat-menu #menu="matMenu" class="cursor-pointer">
                <button mat-menu-item (click)="navService.navigateHome()">
                    <span>Home</span>
                </button>

                <button mat-menu-item (click)="navService.navigateAbout()">
                    <span>About</span>
                </button>

                <button mat-menu-item (click)="navService.navigateProjects()">
                    <span>Projects</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>