<app-header></app-header>
<div class="w-full h-screen overflow-y-auto dark:bg-gray-900 dark:text-white font-onest ">

    <div class="h-screen flex flex-col items-center justify-center space-y-16">
        <div class="text-5xl font-bold w-full flex justify-center text-wrap
                    lg:text-8xl" 
            #parent #header [@loadTrigger]="triggerHelper(header)">
            Hey! I'm Alex
        </div>

    <div class="w-full h-[200px] flex justify-center"
        #parent #typer [@loadTrigger]="triggerHelper(typer)">
            <app-typer></app-typer>
        </div>
    </div>

    <div class="w-full h-[500px] bg-blue-100">
        
    </div>

</div>