<!--
<div class="grid grid-cols-3 w-full gap-16" [@aboutCardsTrigger]="cardState">
    <app-about-cards
        [text]="test"
        [title]="test2"
    ></app-about-cards>

    <app-about-cards
    [text]="test"
    [title]="test2"
    ></app-about-cards>

    <app-about-cards
    [text]="test"
    [title]="test2"
    ></app-about-cards>
</div> 

<div [@loadTrigger]="state">
    <app-about-cards
    [text]="test"
    [title]="test2"

    ></app-about-cards>
</div>

<div [@loadTrigger]="state">
    hello
</div>


<div [@staggerTrigger]="nums">
    @for(num of nums; let idx = $index; track idx)
    {
        <div>
            testing {{num}}
        </div>
    }
</div>

<button (click)="clicked()">clickme</button>
<button (click)="add()"> add me </button>
 -->

<div class="w-full h-full overflow-y-auto flex flex-col space-y-32">

    <div class="w-[500px] h-[500px] bg-blue-100" #parent #anim1 [@loadTrigger]="triggerHelper(anim1)">
        hello
    </div>
    


    <div #parent #anim2 [@loadTrigger]="triggerHelper(anim2)">
        hello 2
    </div>
</div>

